.article-list{
	margin-top: 5px;
}
.clickable{
	cursor: pointer;
}
.close-article{
	font-size: 1.6vw;
	float: right;
}
.input-query{
	border-radius: 14px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    width: 50%;
}
.card .card-body{
	height: auto !important;
}
.contact{
	color: #fff !important;
	vertical-align: middle;
}
.content{
	padding: 5%;
	color: #000;
}
.extend{
  height: auto !important;
  display: none;
  color: #000 !important;
}
.img-me{
	height: 150px;
	width: 150px;
	margin-top: 5%;
}
.interest i{
	display: inline-block;
    padding: 10px;
    margin: 10px;
    background: #D5D5D5;
    border-radius: 3px;
    cursor: pointer;
}
.left-navbar{
	background-color: #2196f3;
	color: #fff;
	text-decoration: none;
}
.left-navbar-desktop{
	position: fixed;
	height: 100%;
}
.left-navbar-mobile{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.link{
	margin-left: 5px;
	margin-right: 5px;
}
.panel-body .description{
  margin-right: 1vw;
  margin-top: 1vw;
}
.panel-body .grade{
  float: right;
}
.panel-body .grade span{
  color: #2196f3;
}
.panel-body .title{
  color: #2196f3;
  font-size:18px;
}
.progress {
	background: #1B75BD;
	border-radius: 7px; 
	height: 10px;
	width: 70%;
	margin-left: 15%;
}
.progress-bar {
	background-color: #fff !important;
}


#subtitle{
	color: #fff !important;
}
.image-wrapper { 
    position: relative;
}
.image-wrapper h1 { 
    background: #fff;
    color: #000;
    font-family: $font-family-serif;
    font-size:3vw;
    line-height: 1.6em;
    margin: 0px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
.image-wrapper img{
	height: 400px;
	width: 100%;
}