<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
		<link href="css/roboto.min.css" rel="stylesheet">
		<link href="css/material.min.css" rel="stylesheet">
		<link href="css/ripples.min.css" rel="stylesheet">
		<link href="css/personal.css" rel="stylesheet">
	</head>
<body ng-app="article">
<div class="row" ng-controller="myArticle">
	<div class="hidden-lg hidden-md hidden-sm col-xs-12 left-navbar left-navbar-mobile text-center">
		sidebar mobile
	</div>
	<div class="col-md-3 col-sm-4 hidden-xs left-navbar left-navbar-desktop text-center" >
		sidebar desktop
	</div>
	<div class="col-md-9 col-sm-8 col-xs-12 content col-md-offset-3 col-sm-offset-4">
		<input type="text" ng-model="selected" typeahead="tag for tag in tags | filter:$viewValue | limitTo:5" typeahead-on-select="onSelect($item, $model, $label)" class="input-query" placeholder="Keyword" />
		<p >
			<span ng-repeat="tag in selectedTags">
				<button class="btn btn-default btn-raised" ng-click="removeTag($index)">{{tag}}</button>
			</span>
		</p>
		<p ng-show="!showArticleBody" ng-repeat="article in articles" ng-click="openArticle($index)" class="article-list clickable">
			<strong>{{article.title}}</strong>
			{{article.description}}
		</p>
		<div class="card" ng-show="showArticleBody">
			<div class="card-content" style="position:inherit !important;">
				<div class="card-body">
					<span class="glyphicon glyphicon-remove clickable close-article" ng-click="closeArticle();"></span>
					<p class="title">{{title}}</p>
					<p class="description">
						<h2>Installazione</h2>
							<div ng-repeat="element in installation">
								{{element.commandTextIt}}
								<pre onClick="selectCode(this);"><code>{{element.command}}</pre></code>
							</div>
						<h2>Configurazione</h2>
						<div ng-repeat="element in configuration">
							{{element.commandTextIt}}
							<pre onClick="selectCode(this);"><code>{{element.command}}</pre></code>
						</div>
						<h2>Utilizzo</h2>
						<div ng-repeat="element in use">
							{{element.commandTextIt}}
							<pre onClick="selectCode(this);"><code>{{element.command}}</pre></code>
						</div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="bower_components/lodash/lodash.min.js"></script>
<script type="text/javascript" src="js/article.js"></script>
<script type="text/javascript" src="js/personal.js"></script>
</body>
</html>